
* {
  box-sizing: border-box;
}
body {
  background-color: #E6C4A3;
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  margin: 0;

}



h1{
  margin-top: 2px;
  margin-bottom: 10px;
}

div {
  border-radius: 5px;
  background-color: #FBF4ED;
}
h4 {
  font-size: 15px;
  font-weight: bold;
}
h5 {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
}
 .cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

header {
  display: inline-block;
  background-color: #222222;
  margin-bottom: 4em;
  margin-top: 0;
  margin-left: 0;
  width: 100%;

}

.nav {
  display: block;
  float: left;
  color: white;
  font-size: 14px;

}

ul .nav {
  margin: .5em;
}

.ul_top_right{
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  float: left;
}
.main_search {
  margin-left: 3em;
  border-radius: 10px;
  color: grey;
  font-size: 15px;
}

.icon {
  margin-top: -1%;
  float: right;
}

.dates {
 color: grey;
 margin-bottom: 0;
 padding: 0;
}

.author {
  font-size: 15px;
  margin: 5px
}

 .one {
   padding: 3em;
   margin-bottom: 2em;
}

.two {
padding: 2em;
margin-bottom: 2em;
}

.three {
  margin-bottom: 3em;
  padding: 2em;
}

.four {
  padding: 2em;
  margin-bottom: 2em;
}

.five {
  padding: 3em;
  margin-bottom: 2em;
}

.six {

  padding: 2em;
}

.seven {
  display: block;
  width: 45%;
  margin-top: 1em;
  float: left;
  padding: 2em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.eight {
  display: block;
  width: 45%;
  margin-left : 3em;
  margin-top: 1em;
  float: right;
  padding: 2em;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.row_1{
  width: 70%;
  float: left;
  padding: 2em;
  background-color: #E6C4A3;
  overflow: hidden;

}

.row_2 {
  background-color: #E6C4A3;
  width: 30%;
  float: left;
  padding: 2em;
}

.bottom_column{
  width: 70%;
  float: left;
  padding: 2em;
  background-color: #E6C4A3;
  overflow: hidden;
}


.button {
  border-radius: 7px;
  background-color: black;
  color: white;
  margin-left: auto;
    margin-right: auto;
    width: 60%;
    display: block;
}

.job_button {
  display: block;
  float: left;
  width: 40%;
  font-weight: bold;
  margin-right: auto;
  margin-left: auto;
}

.job_button_2 {
  display: block;
  float: right;
  width: 40%;
  font-weight: bold;
margin: auto;
}

.button_float {
  display: block;
  background-color: #72BCDC;
  color:white;
  font-family: Arial, sans-serif;
  border-radius: 4px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  box-shadow: none;
}

.small_box {
  font-size: 10px;
  color: grey;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#img2 {
  width: 100%;
}

#img3 {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#img4 {
  width: 100%;
}

#wut {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
