*{
  box-sizing: border-box;
}
body {
  background-color: beige;
  font-family: Arial, sans-serif;
  width: 100%;
}

div {

  border-radius: 5px;
  background-color: white;
  margin: 2em;
  display: inline-block;
}

header {
  display: inline-block;
  width: 100%;
  background-color: black;
  margin-bottom: 50px;

}

.nav {
  display: block;
  float: left;
  color: white;
  font-size: 12px;
}

.icon {
  float: right;
}

.dates {
 width: 100%
}

.author {
  font-size: 15px;
  margin: 5px
}

.one {
  width: 45%;
  float: left;
  padding: 2em;
}

.two {
  width: 20%;
  float: left;
  padding: 1em;
}

.three {
  width: 45%;
  float: left;
  clear: left;
  padding: 2em;
}

.four {
  float:left;
  width: 20%;
}

.five {
  width: 45%;
  float: left;
  padding: 2em;
}

.six {
  width: 20%;
  float: left;
  padding: 1em;
}

.seven {
  width 30%;
  float: left;
  clear: left;
  padding: 2em
}

.eight {
  width 30%;
  float: left;
  padding: 2em;
}
