
* {
  box-sizing: border-box;
}
body {
  background-color: #E6C4A3;
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  margin: 0;

}

.hamburger, .cross, .menu {
  display: none;
}

h1{
  margin-top: 2px;
  margin-bottom: 10px;
}

div {
  border-radius: 5px;
  background-color: #FBF4ED;
}
h4 {
  font-size: 15px;
  font-weight: bold;
}
h5 {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
}

footer {
  display: block;
  background-color: #DE7208;
  width: 100%;
  margin-bottom: 0;
  float: left;
}
 .cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

header {
  display: inline-block;
  background-color: #222222;
  margin-bottom: 4em;
  margin-top: 0;
  margin-left: 0;
  width: 100%;

}

.nav {
  display: block;
  float: left;
  color: white;
  font-size: 14px;


}

ul .nav {
  margin: .5em;
}

li.nav{

}

.ul_top_right{
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  float: left;
}
.main_search {
  margin-left: 3em;
  border-radius: 10px;
  color: grey;
  font-size: 15px;
  float: left;
}

.icon {
  margin-top: -1%;
  float: right;
}

.dates {
 color: grey;
 margin-bottom: 0;
 padding: 0;
}

.author {
  font-size: 15px;
  margin: 5px
}

 .one {
   padding: 3em;
   margin-bottom: 2em;
}

.two {
padding: 2em;
margin-bottom: 2em;
}

.three {
  margin-bottom: 3em;
  padding: 2em;
}

.four {
  padding: 2em;
  margin-bottom: 2em;
}

.five {
  padding: 3em;
  margin-bottom: 2em;
}

.six {

  padding: 2em;
}

.seven {
  display: block;
  width: 45%;
  margin-top: 1em;
  float: left;
  padding: 2em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.eight {
  display: block;
  width: 45%;
  margin-left : 3em;
  margin-top: 1em;
  float: right;
  padding: 2em;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.row_1{
  width: 70%;
  float: left;
  padding: 2em;
  background-color: #E6C4A3;
  overflow: hidden;

}

.row_2 {
  background-color: #E6C4A3;
  width: 30%;
  float: left;
  padding: 2em;
}

.bottom_column{
  width: 70%;
  float: left;
  padding: 2em;
  background-color: #E6C4A3;
  overflow: hidden;
}


.button {
  border-radius: 7px;
  background-color: black;
  color: white;
  margin-left: auto;
    margin-right: auto;
    width: 60%;
    display: block;
}

.job_button {
  display: block;
  float: left;
  width: 40%;
  font-weight: bold;
  margin-right: auto;
  margin-left: auto;
}

.job_button_2 {
  display: block;
  float: right;
  width: 40%;
  font-weight: bold;
margin: auto;
}

.button_float {
  display: block;
  background-color: #72BCDC;
  color:white;
  font-family: Arial, sans-serif;
  border-radius: 4px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  box-shadow: none;
}

.small_box {
  font-size: 10px;
  color: grey;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.footer {
  background-color: #DE7208;
margin-top: 3em;

}

.footer_text {
  float: left;
  background-color: #DE7208;
  width:50%;
  margin-left: auto;
  margin-right: auto;
}

.footer_img {
  display: block;
  background-color: #DE7208;
  float: right;
  width: 50%;
}

.footer_search {
  background-color: #DE7208;
  width:26%;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

div.footer_text {
float: left;
width: 50%;
margin-left: auto;
margin-right: auto;
margin-top: 2.5em;
color: white;
}

.news{
  display: block;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  background-color: #DE7208;
  color: white;

}

#img2 {
  width: 100%;
}

#img3 {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#img4 {
  width: 100%;
}

#wut {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  }

#footer_input {
  color: grey;
}

#footer_button {
  background-color: #DE7208;
  border: .5px solid white;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

@media (max-width: 1030px){
  .job_button, .job_button_2 {
    font-size: 7px;
  }
}

@media (max-width: 965px){
  .logo {
    float: none;
  }
  header {
    text-align: center;
  }
  #img2, #img6, #img5 {
    width: 90%;
  }
}
@media (max-width: 770px){
.main_search {
  display: none;
}
  .icon {
    position: absolute;
    top: 4px;
    right: 4px;
  }

  .navitems{
    background-color: transparent;
    display: inline-block;
    width: 100%;
  }

  .navitems li{
    float: none;
    display: inline-block;
  }

  nav{
    background-color: grey;
  }
.nav_text {
  margin: 0;
  padding-left: 0;
}

.row_2 {
  clear: left;
  width: 100%;
  padding: .5em;
}
.row_1 {
  width: 100%;
  padding: .5em;
}
  .one, .three, .five, .two, .four, .seven, .eight {
    padding: .5em;
    margin-bottom: .5em;
    float:none;

  }
  header{
    margin-bottom: 0
  }

}

.job_button, .job_button_2 {
  font-size: 20px;
  border: 1px solid;
  width: 100%;
  float: none;
}
.button {
  width: 100%;
  font-size: 20px;
}

#wut{
  width: 100%;
  text-align: center;
  font-size: 15px;
  border: 1px solid;
}

.button_float {
  width: 100%;
  font-size: 15px;

}
.footer_search, #footer_input {
  margin: 0;
  width: 100%;
  font-size: 30px;
}

 #footer_button{
   width: 100%;
   font-size: 30px;
   border: 2px solid grey;

 }


@media (max-width: 550px){
  .job_button, .job_button_2 {
    font-size: 15px;
    border: 1px solid;
    width: 100%;
    float: none;
}

.button {
  width: 100%;
  font-size: 20px;
}

#wut{
  width: 100%;
  text-align: center;
  font-size: 15px;
  border: 1px solid;
}

.button_float {
  width: 100%;
  font-size: 15px;

}
.footer_search, #footer_input {
  margin: 0;
  width: 100%;
  font-size: 30px;
}

 #footer_button{
   width: 100%;
   font-size: 30px;
   border: 2px solid grey;

 }

 .seven, .eight {
   float: none;
   width: 60%;

 }
  .hamburger, .cross, .menu {
    display: inline-block;
  }
  .hamburger{
    background:none;
    position:absolute;
    top:0;
    right:0;
    line-height:45px;
    padding:5px 15px 0px 15px;
    color:#fff;
    border:0;
    font-size:1.4em;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
  }
  .cross{
    background:none;
    position:absolute;
    top:0px;
    right:0;
    padding:13px 15px 0px 15px;
    color:#fff;
    border:0;
    font-size:3em;
    line-height:65px;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
  }
  .menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:grey;  position:absolute; text-align:center;}
  .menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
  .menu li {display: block;   padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid;}
  .menu li:hover{display: block;    background:#181818; padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid;}
  .menu ul li a { text-decoration:none;  margin: 0px; color:#fff;}
  .menu ul li a:hover {  color: #fff; text-decoration:none;}
  .menu a{text-decoration:none; color:white;}
  .menu a:hover{text-decoration:none; color:white;}

  .glyphicon-home{
    color:white;
    font-size:1.5em;
    margin-top:5px;
    margin:0 auto;
  }






.icon {
  display: none;
}

}
